* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100dvh;
    background-color: thistle;
}

header, footer {
    height: 15%;
    background-color: rgb(148, 222, 146);
    padding-left: 5%
}

main {
    height: 80%;
    background-color: turquoise;
}

section:first-child {
    /* first-child should be the sidebar section */
    width: 30%;
    background-color: aliceblue;
}

section {
    height: 100%;
}







section {
    display: inline-block;
}